.task {
  background-color: white;
  padding: 15px;
  margin: 10px;
  /* margin: 10px 0 10px 10px; */
  border-radius: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.priority {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title {
  font-size: 1.2rem;
  padding: 0.3rem 0;
  font-weight: bold;
}

.cardOptionsButton {
  cursor: pointer;
}

.cardOptions {
  position: absolute;
}

.cardOption {
  position: relative;
  padding: 1rem;
  width: 100%;
  cursor: pointer;
}

.cardOption:hover {
  background-color: black;
  color: white;
}

.checklistSection {
  margin: 1rem 0;
}

.checkListHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkListHeaderTitle {
  font-size: 1rem;
}

button {
  border: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.deadline {
  background-color: rgb(176, 2, 2);
  color: white;
  border-radius: 5px;
  padding: 5px 8px;
  font-size: 10px;
}

.shiftButtons {
  display: flex;
  gap: 10px;
}

.shiftButton {
  border-radius: 5px;
  padding: 5px 8px;
  border-radius: 5px;
  color: black;
  background-color: rgb(210, 210, 210);
  font-size: 10px;
  cursor: pointer;
}

.shiftButton:hover {
  background-color: black;
  color: white;
}
