.imageSection {
  background-color: #17a2b8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.heading {
  color: white;
  margin: 1rem;
  font-size: 30px;
}

.subheading {
  color: white;
  opacity: 0.8;
}
