* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* For webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 4px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(
    194,
    193,
    193
  ); /* Color of the thumb (the draggable part) */
  border-radius: 4px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Color of the track (the area behind the thumb) */
}
